.album{
    background-color: gray;
    text-align: center;
    color: white;
    max-width: 400px;
}

.album > img{
    width: 150px;
    height: 150px;
}

.spotify{
    background-color: #1E2D3B;
}
